version: '3.8'

services:
  app:
    container_name: myapp-${PROFILE}
    image: chuseok/metalwallet-backend:${PROFILE}
    env_file:
      - .env
    ports:
      - "8080:8080"
    depends_on:
      - redis
    environment:
      - JAVA_OPTS=-Dspring.profiles.active=${PROFILE} -Dprofile=${PROFILE}

  redis:
    image: redis:7
    ports:
      - "6379:6379"