version: '3.8'

services:
  app-test:
    container_name: myapp-test
    env_file:
      - .env.test
    image: chuseok/metalwallet-backend:test
    volumes:
      - ./pinpoint-agent:/pinpoint-agent
    build:
      context: .
      dockerfile: Dockerfile
      args:
        WAR_FILE: build/libs/metal-wallet-backend-1.0-SNAPSHOT.war
    ports:
      - "8080:8080"
    depends_on:
      - redis
    environment:
      - JAVA_OPTS=-javaagent:/pinpoint-agent/pinpoint-bootstrap-2.5.3.jar \
        -Dpinpoint.agentId=metal-wallet-01 \
        -Dpinpoint.applicationName=metal-wallet \
        -Dprofiler.transport.grpc.collector.ip=pinpoint-collector \
        -Dprofiler.transport.grpc.collector.port=9991
        -Dspring.profiles.active=test \
        -Dprofile=test
    networks:
      - monitor-net

  redis:
    image: redis:7
    ports:
      - "6379:6379"
    networks:
      - monitor-net

networks:
  monitor-net:
    external: true