version: '3.8'
networks:
  monitor-net:
    driver: bridge
services:
  app:
    container_name: myapp-${PROFILE}
    image: chuseok/metalwallet-backend:${PROFILE}
    env_file:
      - .env
    ports:
      - "8080:8080"
    depends_on:
      - redis
    volumes:
      - /opt/tomcat9/conf/server.xml:/usr/local/tomcat/conf/server.xml
#      - /opt/tomcat9/logs:/usr/local/tomcat/logs   # Tomcat, Spring logback 로그 공유
    environment:
      - JAVA_OPTS=-Dspring.profiles.active=${PROFILE} -Dprofile=${PROFILE}
    networks:
      - monitor-net

  redis:
    image: redis:7
    ports:
      - "6379:6379"
    networks:
      - monitor-net

  prometheus:
    image: prom/prometheus
    env_file:
      - .env
    ports:
      - "9091:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus-data:/prometheus
    networks:
      - monitor-net

  node_exporter:
    image: prom/node-exporter:v1.6.1
    container_name: node_exporter
    network_mode: "host"
    pid: "host"
    restart: unless-stopped
    volumes:
      - "/:/host:ro,rslave"
    command:
      - '--path.rootfs=/host'

  mysql_exporter:
    image: prom/mysqld-exporter
    container_name: mysql_exporter
    volumes:
      - ./mysqld-exporter/.my.cnf:/cfg/.my.cnf:ro
    depends_on:
      - mysql
    command:
      - --config.my-cnf=/cfg/.my.cnf
      - --web.listen-address=:9104
    ports:
      - "9104:9104"
    networks:
      - monitor-net


  grafana:
    image: grafana/grafana
    ports:
      - "3001:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - prometheus
    networks:
      - monitor-net
    volumes:
      - grafana-storage:/var/lib/grafana

volumes:
  grafana-storage:
  prometheus-data: