version: '3.8'
networks:
  monitoring:
    driver: bridge
services:
  app:
    container_name: myapp-${PROFILE}
    image: chuseok/metalwallet-backend:${PROFILE}
    env_file:
      - .env
    ports:
      - "8080:8080"
    depends_on:
      - redis
    environment:
      - JAVA_OPTS=-Dspring.profiles.active=${PROFILE} -Dprofile=${PROFILE}
    networks:
      - monitor-net

  redis:
    image: redis:7
    ports:
      - "6379:6379"
    networks:
      - monitor-net

  prometheus:
    image: prom/prometheus
    ports:
      - "9091:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    networks:
      - monitor-net

  grafana:
    image: grafana/grafana
    ports:
      - "3001:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - prometheus
    networks:
      - monitor-net